* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #003cff;
    --white: #ffffff;
}

body {
    /* background-color: rgb(200, 217, 241); */
}

.container {
    position: relative;
}

.shadow {
    text-shadow: 2px 3px 5px grey;
}

.m {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 310px;
    font-weight: 900;
    top: 40px;
    left: 40px;
    transform: scaleY(1.2);
}

.akeevka {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 135px;
    font-weight: 900;
    top: 210px;
    left: 323px;
}

.online {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 200px;
    font-weight: 900;
    top: 330px;
    left: 57px;
}

.vacancy {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 60px;
    font-weight: 900;
    top: 70px;
    left: 450px;
    text-align: center;
    margin-right: 50px;
}

span {
    color: var(--blue);
}

.phone {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 34px;
    font-weight: 900;
    top: 556px;
    left: 70px;
}

.mail {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 38px;
    font-weight: 900;
    top: 550px;
    left: 473px;
}

.correct-mail-position {
    position: absolute;
    top: 4px;
    left: -50px;
}