* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #003cff;
    --white: #ffffff;
}

body {
    /* background-color: rgb(200, 217, 241); */
}

.container {
    position: relative;
}

.shadow {
    text-shadow: 2px 3px 5px grey;
}

.m {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 310px;
    font-weight: 900;
    top: 40px;
    left: 40px;
    transform: scaleY(1.2);
}

.akeevka {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 135px;
    font-weight: 900;
    top: 212px;
    left: 323px;
}

.online {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 200px;
    font-weight: 900;
    top: 335px;
    left: 57px;
}

.vacancy {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 43px;
    font-weight: 900;
    top: 550px;
    left: 67px;
    text-align: center;
    margin-right: 50px;
}

span {
    color: var(--blue);
}

.phone {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 43px;
    font-weight: 900;
    top: 85px;
    left: 360px;
}

.mail {
    position: absolute;
    font-family: 'Comfortaa', sans-serif;
    font-size: 43px;
    font-weight: 900;
    top: 155px;
    left: 415px;
}

.correct-mail-position {
    position: absolute;
    top: 4px;
    left: -55px;
}