* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #003cff;
}

body {
    background-color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 900;
    text-shadow: 2px 3px 5px grey;
}

.container {
    position: relative;
}

span {
    color: var(--blue);
}

.v {
    position: absolute;
    font-size: 500px;
    top: 0px;
    left: 40px;
    text-shadow: 5px 7px 5px grey;
}

.makeevka-online {
    position: absolute;
    font-size: 80px;
    top: 55px;
    left: 382px;
}

.opened {
    position: absolute;
    font-size: 80px;
    top: 145px;
    left: 757px;
}

.vacancy {
    position: absolute;
    font-size: 194px;
    font-weight: 100;
    top: 275px;
    left: 374px;
}

.operator {
    position: absolute;
    font-size: 195px;
    top: 465px;
    left: 77px;
    text-shadow: 3px 5px 5px grey;
}

.phone {
    position: absolute;
    font-size: 48px;
    top: 720px;
    left: 150px;
}

.mail {
    position: absolute;
    font-size: 48px;
    top: 714px;
    left: 682px;
}

i {
    font-size: 60px;
    text-shadow: 3px 5px 5px grey;
}

.correct-phone-position {
    position: absolute;
    top: -5px;
    left: -60px;
}

.correct-mail-position {
    position: absolute;
    top: 0px;
    left: -68px;
    transform: scaleX(0.8);
}